html
    head
        title gyaon-cast
    body
        div#container
        script.
          var tupleSpace = !{tupleSpace};
          var pageData = !{pageData};
        script(src="app.js", type="text/javascript")
