html
    head
        title gyaon-cast
        link(rel="stylesheet", href="style.css")
    body
        div#container
        script.
          var tupleSpace = !{tupleSpace};
          var pageData = !{pageData};
        script(src="app.js", type="text/javascript")
